h1,
h4 {
  font-family: "Bodoni Moda", serif;
  border-radius: 15px;
}
h1 {
  padding-top: 20px;
  text-align: center;
}

h4 {
  background-color: #f774aa;
  font-size: 30px;
  margin-right: 350px;
}
ul {
  list-style: none;
  font-family: "Gentium Basic", serif;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  background-color: #47cae8;
  border-radius: 20px;
  border: 1px solid;
}

.line {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}

.btn {
  border-radius: 30px;
}

.description {
  font-family: "Gentium Basic", serif;
  margin-top: 100px;
}
.temperature {
  font-size: 40px;
  font-weight: 600;
}

.details {
  background-color: #f774aa;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 400px;
  margin-top: -80px;
}
.weather-forecast {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.link {
  text-align: center;
  display: block;
}
